.container {
	width: 280px;
	min-height: 280px;
	max-height: 400px;
	overflow-y: auto;
	padding: 10px 5px;


	/*开发需要*/
	float: left;
	background-color: lightgrey;
	border: #00bbee;
	border-width: 1px;
}

.select2-tag{
	width: 130px;
}

.select2-subTag{
	width: 130px;
}