.container {
	width: 290px;
	min-height: 130px;
	max-height: 400px;
	overflow-y: auto;
	padding: 10px 10px;
	float: left;
}

.save {
	margin: 0 0 8px 0;
	float: right;
}

.title {
	width: 270px;
	margin: 0 0 8px 0;
}

.select2-tag {
	width: 133px;
}

.select2-subTag {
	width: 133px;
}

.account {
	width: 164px;
}

