.layui-layim-list li {
    position: relative;
    height: 42px;
    padding: 5px 15px 5px 60px;
    font-size: 0;
    cursor: pointer;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
.layui-rate, li {
    list-style: none;
}
body .layui-layim, body .layui-layim-chat {
    font-family: \5FAE\8F6F\96C5\9ED1;
}



.layui-layim-list li img {
    position: absolute;
    left: 15px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.layui-layim-list li * {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
img {
    border: none;
}
img {
    cursor: pointer;
}



li span, .layui-layim-remark {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layui-layim-list li * {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
.layui-layim-list li {
    cursor: pointer;
}



.layui-layim-list li p {
    display: block;
    padding-right: 30px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}
.layim-tab-content li h5 span, .layui-layim-info .layui-layim-user, .layui-layim-list li p, .layui-layim-list li span, .layui-layim-remark {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layui-layim-list li * {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}



.layui-layim-list li .layim-msg-status {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 7px;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-align: center;
    font-size: 10px;
    background-color: #F74C31;
    color: #fff;
}
.layui-layim-list li span {
    margin-top: 4px;
    max-width: 155px;
}
.layim-tab-content li h5 span, .layui-layim-info .layui-layim-user, .layui-layim-list li p, .layui-layim-list li span, .layui-layim-remark {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layui-layim-list li * {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.layui-box, .layui-box * {
    box-sizing: content-box;
}
.layui-layim-list li {
    position: relative;
    height: 42px;
    padding: 5px 15px 5px 60px;
    font-size: 0;
    cursor: pointer;
}